:root {
	/* top left icon */
	--home-icon: block; /* change to 'none' to hide moon icon */
	--discord-icon: none; /* change to 'block' to show default discord icon */
	--home-icon-link: url('https://upload.wikimedia.org/wikipedia/commons/e/e7/Font_Awesome_5_brands_python.svg'); /* change this link to any .svg file to change the discord icon */
	--icon: url('https://cdn.discordapp.com/attachments/946057463269060621/1121117624571535401/IMG_20230520_180326.jpg');/* this adds an image behind the icon ,if u want to have an image instead of the icon then leave the link above empty  */
	--icon-2: url('https://cdn.discordapp.com/attachments/1117077288782147584/1148687238767583343/IMG_20230905_215959.jpg');/* this can replace the icon itself with an image if u dont want an icon also if u dont leave icon link empty this image will show up on the icon */
	/* keep in mind u can chnage --icon and --icon-2 to .gif files as well */
}

.childWrapper__01b9c{background:var(--icon) center/cover no-repeat scroll;}

.childWrapper__01b9c > svg {
	display: var(--discord-icon);
}
.childWrapper__01b9c:has(> svg)::before {
	content: '';
	display: var(--moon-icon);
	position: absolute;
	width: 80%;
	height: 90%;
	background: var(--icon-2) center no-repeat;
	border-radius: 2rem;
	background-size: 100%;
	background-color: transparent;
}
.wrapper_d281dd:hover .childWrapper__01b9c::before {
	transition: background-color 0.3s ease-out, transform 0.6s ease-out;
	transform: rotate(0deg) scale(1);
}
.wrapper_d281dd:hover > .childWrapper__01b9c::before,
.wrapper_d281dd.selected_f5ec8e > .childWrapper__01b9c::before {
	transform: rotate(-360deg) scale(0.4);
}
.childWrapper__01b9c:has(> svg)::before {
	-webkit-mask-image: var(--home-icon-link);
}

/* Chat textfield buttons (emoji, gif, etc) hidden in a drawer menu until hovered over */
.buttons_ce5b56 {
    overflow: hidden;
    position: absolute;
    justify-content: flex-end;
    background: rgba(23, 24, 26, 0.25);
    border-radius: 8px;
    transition: all 350ms;
}
.buttons_ce5b56:where(:not(:hover)){
    max-width: 35px;
    right: 10px;
}
.buttons_ce5b56::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    top: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    object-fit: cover;
    height: 44px;
    width: 35px;
}
.buttons_ce5b56:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 350ms;
}
.buttons_ce5b56:hover {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    max-width: 100%;
    right: 10px;
    background: rgba(23, 24, 26, 0.5);
    transition: all 150ms;
}
.buttons_ce5b56 > div, .buttons_ce5b56 > button {
    transform: scaleX(0%) !important;
    opacity: 0%;
}
.buttons_ce5b56:hover > div, .buttons_ce5b56:hover > button {
    transform: scaleX(100%) !important;
    opacity: 100%;
}
.buttons_ce5b56 > div:hover svg, .buttons_ce5b56 > button:hover svg {
    height: 28px !important;
    width: 28px !important;
    margin-right: -2px;
    margin-left: -2px;
}
.buttons_ce5b56 > div:nth-last-child(2):hover > button > div > div > svg {
    margin-right: -4px;
    margin-left: -4px;
}
.buttons_ce5b56 > div svg, .buttons_ce5b56 > button svg {
    transition: all 0.3s;
}

/* Rounded User Panel */

[class^="sidebar_"] [class^="panels_"] {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid var(--background-modifier-accent);
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"],
[class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
  background: transparent !important;
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"] [class^="avatarWrapper_"] + [class^="flex_"] {
  margin-left: -10px;
}

#vc-spotify-player {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Nitro Theme Shit */
html.custom-theme-background [class^="sidebar_"] {
    background: var(--bg-overlay-3);
}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
    background: var(--bg-overlay-1);
}

/* Collapse Members list */
@media (max-width: 1920px) {
/* Members list*/
  .container_b2ce9c {
    width: 60px;
    transition-duration: 0.25s;
  }
  .container_b2ce9c:hover {
    width: 240px;
  }
}
